:ruby
  today = Date.today();
%h1 Календарь
%ul
  %li
    %a{:href => '/event/new'} Добавить событие
  %li
    %a{:href => "/calendar/week/#{today.cweek}/#{today.year}"} По неделям
  %li
    %a{:href => "/calendar/week/#{today.month}/#{today.year}"} По месяцам