%form{:method => 'POST', :action => '/event/create'}
  %label Время
  %input{:type => 'text', :name => 'time'}
  %br
  %label Описание
  %input{:type => 'text', :name => 'description'}
  %br
  %label Периодичность
  %select{:name => 'period'}
    %option{:value => 'once'} Однократно
    %option{:value => 'weekly'} Еженедельно
    %option{:value => 'monthly'} Ежемесячно
  %br
  %label Повторять
  %input{:type => 'text', :name => 'period_values'}
  %br
  %input{:type => 'submit', :value => 'Сохранить'}